<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-5">
      <div class="card bg-pattern">
        <div class="card-body p-4">
        <%= image_tag get_user_profile_picture, width: 300, height: 300%>  
          <%= form_for(@user, url: "/users/#{@user.id}") do |f| %>
            <div class="row">
              <%= render partial: 'user_profile_form', locals: {f: f }%>
            </div>
            
            <div class="actions">
              <%= f.submit "Update Profile", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>